:root {
	/* Colors */
	--clr-green-800: hsl(167, 40%, 24%);
	--clr-green-600: hsl(166, 30%, 35%);
	--clr-green-500: hsl(167, 34%, 41%);
	--clr-green-300: hsl(168, 44%, 70%);

	--clr-grey-950: hsl(212, 27%, 19%);
	--clr-grey-600: hsl(213, 9%, 39%);
	--clr-grey-550: hsl(232, 10%, 55%);
	--clr-grey-400: hsl(210, 4%, 67%);

	--clr-blue-950: hsl(197, 84%, 13%);
	--clr-blue-800: hsl(198, 62%, 26%);

	--clr-red: hsl(7, 99%, 70%);
	--clr-yellow: hsl(51, 100%, 49%);
	--clr-white: hsl(0, 100%, 100%);
	--clr-black: hsl(0, 0%, 0%);

	/* Typography */

	--ff-main: 'Fraunces', sans-serif;
	--ff-secondary: 'Barlow', sans-serif;

	--fw-bold: 900;
	--fw-normal: 700;
	--fw-light: 600;

	--fs-1: 56px;
	--fs-2: 42px;
	--fs-3: 40px;
	--fs-4: 32px;
	--fs-5: 28px;
	--fs-6: 20px;
	--fs-7: 18px;
	--fs-8: 15px;
	--fs-9: 20px;
	--fs-10: 18px;
	--fs-11: 16px;
	--fs-12: 14px;

	--lh-1: 125%;
	--lh-2: 165%;
	--lh-3: 170%;
	--lh-4: 180%;

	--ls-1: 9px;
	--ls-2: 6px;
	--ls-3: 0px;
	--ls-4: 4px;
}

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* General Styling */

.header {
	position: relative;
	min-height: 70vh;
	background-image: url('images/desktop/image-header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: var(--clr-white);
	text-align: center;
}

.header__top-container {
	display: flex;
	justify-content: space-between;
	padding: 2.25rem 1.5rem;
}

.header__nav {
	display: none;
	position: absolute;
	z-index: 2;
	background-color: var(--clr-white);
	height: 305px;
	width: 327px;
	left: 7%;
	text-align: center;
}

.header__nav.is-open {
	display: block;
}

.header__nav:after {
	content: '';
	position: absolute;
	top: -1.2rem;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: var(--clr-white);
	border-top: 0;
	border-right: 0;
	margin-left: 8.99rem;
	margin-bottom: -20px;
}

.header__nav-item {
	margin-block-start: 1rem;
	font-family: var(--ff-secondary);
	font-weight: var(--fw-light);
	font-size: var(--fs-6);
	margin-top: 2rem;
	margin-right: 2rem;
}

.header__nav-item a {
	color: var(--clr-grey-550);
	text-decoration: none;
}

.header__nav .header__nav-item:last-child a {
	padding: 0.85rem 1.6rem;
	background-color: var(--clr-yellow);
	color: var(--clr-blue-950);
	font-family: var(--ff-main);
	font-weight: var(--fw-bold);
	letter-spacing: var(--ls-4);
	border-radius: 28px;
}

.header__title {
	font-family: var(--ff-main);
	font-weight: var(--fw-bold);
	font-size: var(--fs-2);
	letter-spacing: var(--ls-2);
	text-transform: uppercase;
	line-height: 130%;
}

.header__arrow {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 13rem;
}

.agency__grid-text {
	text-align: center;
	margin-block: 4rem;
}

.grid__title {
	font-family: var(--ff-main);
	font-size: var(--fs-4);
	line-height: 90%;
	font-weight: var(--fw-bold);
	color: var(--clr-blue-950);
	padding-inline: 2rem;
	margin-bottom: 2rem;
}

.grid__text {
	font-family: var(--ff-secondary);
	padding-inline: 0.7rem;
	line-height: 160%;
	color: var(--clr-grey-550);
	font-weight: var(--fw-light);
	font-size: var(--fs-7);
}

.grid__btn {
	background: none;
	border: none;
	font-family: var(--ff-main);
	font-size: var(--fs-7);
	font-weight: var(--fw-bold);
	letter-spacing: var(--ls-4);
	text-transform: uppercase;
	position: relative;
}

.grid__btn::after {
	content: '';
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 100%;
	height: 7px;
	background: var(--clr-yellow);
	border-radius: 15px;
	z-index: -1;
}

.agency__grid-text .grid__title {
	padding-inline: 3rem;
	font-size: var(--fs-3);
	line-height: var(--lh-1);
}

.grid__text {
	padding-inline: 1.5rem;
	line-height: var(--lh-2);
}

.agency__grid-text .grid__btn {
	margin-block-start: 1.5rem;
}

.agency__grid-text .grid__btn::after {
	background: rgb(255, 221, 217);
}

.agency__grid-img {
	position: relative;
	color: var(--clr-green-800);
	font-family: var(--ff-main);
	text-align: center;
}

.grid__img-text {
	position: absolute;
	bottom: 10rem;
	font-size: var(--fs-4);
	left: 4rem;
	font-weight: var(--fw-bold);
}

.grid__img-footer {
	position: absolute;
	bottom: 0;
	padding-block-end: 4rem;
	font-family: var(--ff-secondary);
	font-weight: var(--fw-light);
	padding-inline: 1rem;
	color: var(--clr-green-600);
}

.grid__img-text.orange {
	color: rgb(32, 82, 105);
	text-align: center;
	left: 6rem;
}

.grid__img-footer.orange {
	color: rgb(32, 82, 105);
}

.agency__testimonials {
	text-align: center;
	font-family: var(--ff-secondary);
	color: var(--clr-grey-600);
}

.testimonials__title {
	margin-block: 4rem;
	font-family: var(--ff-main);
	text-transform: uppercase;
	font-size: var(--fs-5);
	font-weight: var(--fw-bold);
	color: var(--clr-grey-400);
}

.testimonial__img {
	border-radius: 50%;
	height: 5rem;
	margin-inline: auto;
	margin-block-end: 4rem;
}

.testimonial__text {
	font-weight: var(--fw-light);
	padding-inline: 1.75rem;
	font-size: var(--fs-7);
	line-height: var(--lh-2);
	margin-block-end: 2.5rem;
}

.testimonial__author {
	font-family: var(--ff-main);
	color: var(--clr-black);
	font-weight: var(--fw-bold);
	font-size: var(--fs-6);
	margin-block-end: 0.5rem;
}

.testimonial__author-title {
	margin-block-end: 4rem;
	font-weight: var(--fw-light);
	color: var(--clr-grey-400);
	font-size: var(--fs-8);
}

.footer__gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.footer__main {
	background-color: var(--clr-green-300);
	font-family: var(--ff-secondary);
	height: 21rem;
}

.footer__logo {
	width: 12rem;
	height: auto;
	margin: auto;
	color: var(--clr-green-600);
	padding-block-start: 4rem;
	display: block;
}

.footer__navbar {
	display: flex;
	justify-content: space-around;
	margin-block-start: 3rem;
}

.footer__navbar a {
	text-decoration: none;
	color: var(--clr-green-500);
	font-size: var(--fs-7);
	font-weight: var(--fw-light);
}

.social__icons {
	display: flex;
	justify-content: center;
	gap: 1.25rem;
	margin: 5rem 0 3.5rem;
}

.header__top-menu {
	background: transparent;
	border: 0;
	cursor: pointer;
}
